.content_text {
    padding-top: 100px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;

}

.artist {
    /* background: linear-gradient(to top, #fff 50%, #504DC2 50%); */
    /* background: linear-gradient(#e66465, #9198e5); */
    background: linear-gradient(#504DC2, #9198e5);
    font-family: 'Montserrat', sans-serif;
}


.container_artist {
    width: 100%;
    max-width: 1115px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;    
}

.text_artist {
    font-weight: 700;
    color: #fff;
    font-size: 36px;
    display: block;
    width: 100%;
    max-width: 540px;
}

@media (max-width:885px) {
    .text_artist {
        font-size: 24px;
    }
}

@media (max-width: 763px) {

    .text_artist {
        text-align: center;
    }

    .artist {
        /* background: linear-gradient(#e66465, #9198e5); */
        background: linear-gradient(#504DC2, #9198e5);
    }

    .content_text{
        padding-top: 50px;
        align-items: center;
        flex-direction: column;
    }
}